*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-family: 'Baloo Tammudu 2', cursive;
}

body {
  background-image: url("img/background.jpg");
  height: 95vh;
  width: 95vw;
}

.container {
  top: 10vh;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  width: 1000px;
}

.tabela, .plus {
  background-color: black;
  border-radius: 25px;
  border: solid white 5px;
}

.plus {
  height: 400px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.tabela {
  -webkit-transform: translate(0, -150px);
          transform: translate(0, -150px);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  height: 1750px;
}

input, datalist {
  background-color: gray;
  border: solid black 3px;
  border-radius: 15px;
  height: 100px;
  width: 350px;
  text-align: center;
  padding-top: 40px;
  outline-offset: 0px;
  outline: none;
}

#name1 {
  -webkit-transform: translate(20px, 10px);
          transform: translate(20px, 10px);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 90px;
  text-align: center;
}

#name2 {
  -webkit-transform: translate(-20px, 10px);
          transform: translate(-20px, 10px);
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  font-size: 90px;
}

#score1 {
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 150px;
  width: 150px;
  font-size: 130px;
  padding-top: 65px;
}

#score2 {
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  height: 150px;
  width: 150px;
  font-size: 130px;
  padding-top: 65px;
}

button {
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 150px;
  height: 150px;
  background-color: tomato;
  border: none;
  border-radius: 25%;
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  outline-offset: 0px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.square {
  height: 150px;
  width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

span {
  font-size: 90px;
  color: white;
}

.name1 {
  margin-right: auto;
}

.name2 {
  margin-left: auto;
}

.score1 {
  position: fixed;
  left: 40%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.score2 {
  position: fixed;
  left: 60%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.myslnik {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.green {
  color: green;
}

.red {
  color: tomato;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}
/*# sourceMappingURL=style.css.map */
